
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body {
  overflow-x: hidden;
  width: 100%;
}

*{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
}

nav{
  color: #fff;
}

.row.hero{
  margin-left: 500px;
}
h1.text-uppercase{
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color:#5A5959;
}

h1.contact-us{
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}

button.custom-btn:hover{
  background-color: #e9e7e7;
}

.brand_logo {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 25px; 
  margin-left: -100px;
  margin-top: -25px;
}

button.btn-dark{
  width:220px;
  height: 44px;
}

button.contact-us{
  width:492px;
}


.service-image img{
  margin-left: 1rem;
}

.form_control{
  display:flex;
  flex-direction: column;
  width:492px;
  position: relative;
}

.form_control input{
  height: 40px;
  padding: 0 8px;
  
}

.form_control label{
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-button{
    display: flex;
    flex-direction: row;
    gap:15px;
}

.contact-button button{
  width: 235px;
}
@media (min-width: 768px) and (max-width: 991px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
}

  h1.text-uppercase{
    font-weight: 650;
    font-size: 100px;
  line-height: 98px;
  }
  


  .row.hero{
    display: flex;
  justify-content: center;
  }

  .contact-button button{
    width: 300px;
  }

  .service-image img{
    margin-top: 3rem;
  }

  .contact-button{
    display: flex;
    flex-direction: row;
    gap:15px;
}

.contact-button button{
  width: 235px;
}


  button.contact{
    width:492px;
  }

  .service-image img{
    margin-left: -3rem;
  }
  .contact-button button {
    font-size: 18px; 
    padding: 12px 20px;
    width: 100%; 
  }

  .contact-button {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    width: 490px;
  }
  
}

@media (min-width: 992px) and (max-width: 1100px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
}
  h1.text-uppercase{
    font-weight: 600;
    font-size: 80px;
  line-height: 90px;
  margin-left: -100px;
  }

  h1.contact-us{
    font-weight: 600;
    font-size: 80px;
  line-height: 90px;
  margin-left: -70px;
  }

  h5.contact-us{
    margin-left: -70px;
  }

  h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: -100px;
  }
  
  .container .hero-button{
    margin-left: -100px;
  }

  .container .hero-brand{
    margin-left: -100px;
  }

  .container .shoes-image{
    margin-left: -180px;
  }
  
  .container .row.contact-us{
    margin-left: -70px;
  }

.contact-button{
    gap:10px;
}

  button.contact-us{
    width:400px;
    font-size: 14px;
  }

  button.contact{
    width:400px;
  }

  .contact-button button{
    width: 192px;
    font-size: 14px;
  }
  .form_control{
    width:400px;

  }
  form button{
    font-size: 14px;
  }
  .service-image img{
    margin-left: -20px;
    width: 480px
  }
  

}

 @media only screen and (max-width: 768px){

  html, body {
    overflow-x: hidden;
    width: 100%;
}

  h1.text-uppercase{
  margin-left: -40px;
  font-weight: 600;
    font-size: 50px;
  line-height: 50px;
  }

  h5 {
    font-weight: 300;
    font-size: 14px;
    max-width: 90%;
    margin: 0 auto; 
    word-wrap: break-word;
    margin-left: -30px;
  }

  h5.contact-us{
    margin-left: -55px;
  }
  .hero-button {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    margin-left: -45px;
  }

  .hero-button button {
    width: 100%;
    max-width: 200px;
    font-size: 14px;
    text-align: center;
  }

  .container .shoes-image{
    text-align: left; 
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }

  .shoes-image img {
    max-width: 70%; 
  }
  

  .contact-button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
    margin-left: -55px;
}

form {
  margin-top: 20px;
}
  .form_control{
    margin-left: -55px;
    max-width: 100%;

  }
  form button{
    margin-left: -55px;
}
button.contact-us{
  margin-left: -55px;
  max-width: 95%;
}



h1.contact-us{
  margin-left: -60px;
  font-weight: 600;
    font-size: 40px;
  line-height: 40px;
}

h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
  .service-image img{
    text-align: left; 
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
    margin-left: -50px; 
  }

  .shoes-image img {
    max-width: 70%; 
    
  }
  .brand_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
    margin-top: 10px;
    margin-left: -100px;
  }

  .brand_logo img {
    max-width: 50px;
    height: auto;
  }


  
} 